DocTools/Goedel.Document.RFC-shared/rfc7791.xsd

<?xml version="1.0" encoding="Windows-1252"?>

<xs:schema xmlns="http://tempuri.org/rfc7991" elementFormDefault="qualified"
           targetNamespace="http://tempuri.org/rfc7991"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:svg="https://www.w3.org/TR/2002/WD-SVG11-20020108/SVG.xsd">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:element name="rfc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="front" />
        <xs:element ref="middle" />
        <xs:element minOccurs="0" maxOccurs="1" ref="back" />
      </xs:sequence>

      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="number" type="xs:string" />
      <xs:attribute default="" name="obsoletes" type="xs:string" />
      <xs:attribute default="" name="updates" type="xs:string" />
      <xs:attribute name="category"  type="xs:string"/>
      <xs:attribute name="consensus" default="false" >
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="no" />
            <xs:enumeration value="yes" />
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="seriesNo" type="xs:string" />
      <xs:attribute name="ipr" type="xs:string"/>
      <xs:attribute name="iprExtract" type="xs:IDREF" />
      <xs:attribute default="IETF" name="submissionType" type="streamType"/>
      <xs:attribute name="docName" type="xs:string" />


      <!-- New attributes here -->
      <xs:attribute name="sortRefs" default="false" type="boolean"/>
      <xs:attribute name="symRefs" default="true"  type="boolean"/>
      <xs:attribute name="tocInclude" default="true"  type="boolean"/>
      <xs:attribute name="tocDepth" type="xs:string" default="3" />
      <xs:attribute name="prepTime" type="xs:string"/>
      <xs:attribute name="indexInclude" default="false" >
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="version" type="xs:string" />
      <xs:attribute name="scripts" type="xs:string" default="Common,Latin" />
      <xs:attribute name="expiresDate" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <!-- Type declarations -->
  <xs:complexType name="taggedtext">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="ascii" type="xs:string" />
        <xs:attribute ref="xml:lang" />
        <xs:attribute ref="xml:base" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="asciitext">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="abbrev" type="xs:string" />
        <xs:attribute ref="xml:lang" />
        <xs:attribute ref="xml:base" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="boolean">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="true" />
      <xs:enumeration value="false" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="spacingType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="normal" />
      <xs:enumeration value="compact" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="alignType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="left" />
      <xs:enumeration value="center" />
      <xs:enumeration value="right" />
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType mixed="true" name="textrun">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="bcp14" />
      <xs:element ref="cref" />
      <xs:element ref="em" />
      <xs:element ref="eref" />
      <xs:element ref="iref" />
      <xs:element ref="strong" />
      <xs:element ref="sub" />
      <xs:element ref="sup" />
      <xs:element ref="xref" />
    </xs:choice>
    <xs:attribute ref="xml:lang" />
    <xs:attribute ref="xml:base" />
  </xs:complexType>

  <xs:simpleType name="streamType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="IETF" />
      <xs:enumeration value="IAB" />
      <xs:enumeration value="IRTF" />
      <xs:enumeration value="independent" />
    </xs:restriction>
  </xs:simpleType>


  <!-- Tags in same order as the relax schema. -->

  <xs:element name="link">
    <xs:complexType>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="href" type="xs:string" />
      <xs:attribute name="rel" type="xs:string" />
    </xs:complexType>
  </xs:element>


  <xs:element name="front">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="seriesInfo" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="author" />
        <xs:element ref="date" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="area" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="workgroup" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="keyword" />
        <xs:element minOccurs="0" maxOccurs="1" ref="abstract" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="note" />
        <xs:element minOccurs="0" maxOccurs="1" ref="boilerplate" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>


  <xs:element name="title">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="abbrev" type="xs:string" />
          <xs:attribute name="ascii" type="xs:string" />
          <xs:attribute ref="xml:lang" />
          <xs:attribute ref="xml:base" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="author">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="organization" />
        <xs:element minOccurs="0" maxOccurs="1" ref="address" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="initials" type="xs:string" />
      <xs:attribute name="asciiInitials" type="xs:string" />
      <xs:attribute name="surname" type="xs:string" />
      <xs:attribute name="fullname" type="xs:string" />
      <xs:attribute name="role">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="editor" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="asciiFullname" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="organization">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="abbrev" type="xs:string" />
          <xs:attribute name="ascii" type="xs:string" />
          <xs:attribute ref="xml:lang" />
          <xs:attribute ref="xml:base" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="postal" />
        <xs:element minOccurs="0" maxOccurs="1" ref="phone" />
        <xs:element minOccurs="0" maxOccurs="1" ref="facsimile" />
        <xs:element minOccurs="0" maxOccurs="1" ref="email" />
        <xs:element minOccurs="0" maxOccurs="1" ref="uri" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>

  <xs:element name="postal">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="city" />
            <xs:element ref="region" />
            <xs:element ref="code" />
            <xs:element ref="country" />
            <xs:element ref="street" />
          </xs:choice>
          <xs:element ref="postalLine" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>


  <xs:element name="street" type="taggedtext" />
  <xs:element name="city" type="taggedtext" />
  <xs:element name="region" type="taggedtext" />
  <xs:element name="code" type="taggedtext" />
  <xs:element name="country" type="taggedtext" />
  <xs:element name="postalLine" type="taggedtext" />


  <xs:element name="phone" type="asciitext" />
  <xs:element name="facsimile" type="asciitext" />
  <xs:element name="email" type="asciitext" />
  <xs:element name="uri" type="asciitext" />


  <xs:element name="date">
    <xs:complexType>
      <xs:attribute name="day" type="xs:string" />
      <xs:attribute name="month" type="xs:string" />
      <xs:attribute name="year" type="xs:string" />
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>

  <xs:element name="area" type="asciitext" />
  <xs:element name="workgroup" type="asciitext" />
  <xs:element name="keyword" type="asciitext" />


  <xs:element name="abstract">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="t" />
        <xs:element ref="dl" />
        <xs:element ref="ol" />
        <xs:element ref="ul" />
      </xs:choice>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID"/>
      <xs:attribute name="pn" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="note">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="t" />
        <xs:element ref="dl" />
        <xs:element ref="ol" />
        <xs:element ref="ul" />
      </xs:choice>
      <xs:attribute name="title" type="xs:string" use="required" />
      <xs:attribute name="pn" type="xs:string" />
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>

  <xs:element name="boilerplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="section" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>

  <xs:element name="middle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="section" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>




  <xs:element name="section">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="name" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="artwork" />
          <xs:element ref="aside" />
          <xs:element ref="blockquote" />
          <xs:element ref="dl" />
          <xs:element ref="figure" />
          <xs:element ref="iref" />
          <xs:element ref="ol" />
          <xs:element ref="sourcecode" />
          <xs:element ref="t" />
          <xs:element ref="table" />
          <xs:element ref="texttable" />
          <xs:element ref="ul" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="section" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="pn" type="xs:string" />
      <xs:attribute name="title" type="xs:string" use="required" />
      <xs:attribute default="true" name="numbered" type="boolean"/>
      <xs:attribute default="default" name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="include" />
            <xs:enumeration value="exclude" />
            <xs:enumeration value="default" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="removeInRFC" type="boolean"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="name">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="cref" />
        <xs:element ref="eref" />
        <xs:element ref="relref" />
        <xs:element ref="tt" />
        <xs:element ref="xref" />
      </xs:choice>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="slugifiedName" type="xs:string" />
    </xs:complexType>
  </xs:element>



  <xs:element name="t">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="bcp14" />
        <xs:element ref="cref" />
        <xs:element ref="em" />
        <xs:element ref="eref" />
        <xs:element ref="iref" />
        <xs:element ref="list" />
        <xs:element ref="relref" />
        <xs:element ref="spanx" />
        <xs:element ref="strong" />
        <xs:element ref="sub" />
        <xs:element ref="sup" />
        <xs:element ref="tt" />
        <xs:element ref="vspace" />
        <xs:element ref="xref" />
      </xs:choice>
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="pn" type="xs:string" />
      <xs:attribute name="hangText" type="xs:string" />
      <xs:attribute default="false" name="keepWithNext" type="boolean"/>
      <xs:attribute default="false" name="keepWithPrevious" type="boolean"/>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>



  <xs:element name="aside">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="artwork" />
        <xs:element ref="dl" />
        <xs:element ref="figure" />
        <xs:element ref="iref" />
        <xs:element ref="list" />
        <xs:element ref="t" />
        <xs:element ref="table" />
        <xs:element ref="ul" />
      </xs:choice>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="pn" type="xs:string" />
    </xs:complexType>
  </xs:element>



  <xs:element name="blockquote">
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="artwork" />
          <xs:element ref="dl" />
          <xs:element ref="figure" />
          <xs:element ref="ol" />
          <xs:element ref="sourcecode" />
          <xs:element ref="t" />
          <xs:element ref="ul" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="bcp14" />
          <xs:element ref="cref" />
          <xs:element ref="em" />
          <xs:element ref="eref" />
          <xs:element ref="iref" />
          <xs:element ref="list" />
          <xs:element ref="relref" />
          <xs:element ref="strong" />
          <xs:element ref="sub" />
          <xs:element ref="sup" />
          <xs:element ref="tt" />
          <xs:element ref="xref" />
        </xs:choice>
      </xs:choice>
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="pn" type="xs:string" />
      <xs:attribute name="cite" type="xs:string" />
      <xs:attribute name="quotedFrom" type="xs:string" />
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>

  <!-- List like things -->

  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="t" />
      </xs:sequence>
      <xs:attribute name="style" type="xs:string" default="empty"/>
      <xs:attribute name="hangIndent" type="xs:string" />
      <xs:attribute name="counter" type="xs:string" />
      <xs:attribute name="pn" type="xs:string" />
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>

  <xs:element name="ol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="li" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID"/>
      <xs:attribute name="type" type="xs:string"  default="1"/>
      <xs:attribute name="start" type="xs:string"  default="1"/>
      <xs:attribute name="group" type="xs:string" />
      <xs:attribute default="normal" name="spacing">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="normal" />
            <xs:enumeration value="compact" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="pn" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="ul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="li" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID"/>
      <xs:attribute default="normal" name="spacing">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="normal" />
            <xs:enumeration value="compact" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="empty" type="boolean" />
      <xs:attribute name="pn" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:complexType  mixed="true" name="listItemType">
    <xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="artwork" />
        <xs:element ref="dl" />
        <xs:element ref="figure" />
        <xs:element ref="ol" />
        <xs:element ref="sourcecode" />
        <xs:element ref="t" />
        <xs:element ref="ul" />
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded" >
        <xs:element ref="bcp14" />
        <xs:element ref="cref" />
        <xs:element ref="em" />
        <xs:element ref="eref" />
        <xs:element ref="iref" />
        <xs:element ref="list" />
        <xs:element ref="relref" />
        <xs:element ref="strong" />
        <xs:element ref="sub" />
        <xs:element ref="sup" />
        <xs:element ref="tt" />
        <xs:element ref="xref" />
      </xs:choice>
    </xs:choice>
    <xs:attribute ref="xml:lang" />
    <xs:attribute ref="xml:base" />
    <xs:attribute name="anchor" type="xs:ID"/>
    <xs:attribute name="pn" type="xs:string" />
  </xs:complexType>



  <xs:complexType  mixed="true" name="tableCellType">
    <xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="artwork" />
        <xs:element ref="dl" />
        <xs:element ref="figure" />
        <xs:element ref="ol" />
        <xs:element ref="sourcecode" />
        <xs:element ref="t" />
        <xs:element ref="ul" />
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded" >
        <xs:element ref="bcp14" />
        <xs:element ref="cref" />
        <xs:element ref="em" />
        <xs:element ref="eref" />
        <xs:element ref="iref" />
        <xs:element ref="relref" />
        <xs:element ref="strong" />
        <xs:element ref="sub" />
        <xs:element ref="sup" />
        <xs:element ref="tt" />
        <xs:element ref="xref" />
      </xs:choice>
    </xs:choice>
    <xs:attribute ref="xml:lang" />
    <xs:attribute ref="xml:base" />
    <xs:attribute name="anchor" type="xs:ID"/>
    <xs:attribute name="colspan" type="xs:string" />
    <xs:attribute name="rowspan" type="xs:string" />
    <xs:attribute name="align" type="alignType" />
  </xs:complexType>

  <xs:element name="li" type="listItemType"/>

  <xs:element name="dl">
    <xs:complexType>
      <xs:sequence  minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="dt" />
        <xs:element ref="dd" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID"/>
      <xs:attribute default="normal" name="spacing">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="normal" />
            <xs:enumeration value="compact" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="hanging" type="boolean" default="true"/>
      <xs:attribute name="pn" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="dt" type="listItemType"/>
  <xs:element name="dd" type="listItemType"/>

  <xs:element name="xref">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="xml:lang" />
          <xs:attribute ref="xml:base" />
          <xs:attribute name="target" type="xs:IDREF" use="required" />
          <xs:attribute default="false" name="pageno" type="boolean"/>
          <xs:attribute default="default" name="format">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="counter" />
                <xs:enumeration value="title" />
                <xs:enumeration value="none" />
                <xs:enumeration value="default" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="derivedContent" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="relref">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="xml:lang" />
          <xs:attribute ref="xml:base" />
          <xs:attribute name="target" type="xs:IDREF" use="required" />
          <xs:attribute default="false" name="pageno" type="boolean"/>
          <xs:attribute default="of" name="displayFormat">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="of" />
                <xs:enumeration value="comma" />
                <xs:enumeration value="parens" />
                <xs:enumeration value="bare" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="section" type="xs:string" use="required"/>
          <xs:attribute name="relative" type="xs:string" />
          <xs:attribute name="derivedLink" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="eref">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="xml:lang" />
          <xs:attribute ref="xml:base" />
          <xs:attribute name="target" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="iref">
    <xs:complexType>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="item" type="xs:string" use="required" />
      <xs:attribute default="" name="subitem" type="xs:string" />
      <xs:attribute default="false" name="primary" type="boolean"/>
      <xs:attribute name="pn" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="cref">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded" >
        <xs:element ref="em" />
        <xs:element ref="eref" />
        <xs:element ref="relref" />
        <xs:element ref="strong" />
        <xs:element ref="sub" />
        <xs:element ref="sup" />
        <xs:element ref="tt" />
        <xs:element ref="xref" />
      </xs:choice>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="source" type="xs:string" />
      <xs:attribute default="true" name="display" type="boolean"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="tt" type="textrun"/>
  <xs:element name="strong" type="textrun"/>
  <xs:element name="em" type="textrun"/>
  <xs:element name="sub" type="textrun"/>
  <xs:element name="sup" type="textrun"/>

  <xs:element name="spanx">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="xml:lang" />
          <xs:attribute ref="xml:base" />
          <xs:attribute ref="xml:space" />
          <xs:attribute default="emph" name="style" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>


  <xs:element name="vspace">
    <xs:complexType>
      <xs:attribute default="0" name="blankLines" type="xs:string" />
    </xs:complexType>
  </xs:element>


  <xs:element name="figure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="name" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="iref" />
        <xs:element minOccurs="0" maxOccurs="1" ref="preamble" />
        <xs:choice minOccurs="1" maxOccurs="unbounded">
          <xs:element ref="artwork" />
          <xs:element ref="sourcecode" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="postamble" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="pn" type="xs:string" />
      <xs:attribute default="" name="title" type="xs:string" />
      <xs:attribute default="false" name="suppress-title" type="boolean"/>
      <xs:attribute name="src" type="xs:string" />
      <xs:attribute name="originalSrc" type="xs:string" />
      <xs:attribute default="left" name="align" type="alignType"/>
      <xs:attribute default="" name="alt" type="xs:string" />
      <xs:attribute default="" name="width" type="xs:string" />
      <xs:attribute default="" name="height" type="xs:string" />

    </xs:complexType>
  </xs:element>

  <xs:element name="table">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="name" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="iref" />
        <xs:element minOccurs="0" maxOccurs="1" ref="thead" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="tbody" />
        <xs:element minOccurs="0" maxOccurs="1" ref="tfoot" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="pn" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="preamble" type="textrun"/>

  <xs:element name="artwork">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute default="" name="pn" type="xs:string" />
      <xs:attribute default="" name="name" type="xs:string" />
      <xs:attribute default="" name="type" type="xs:string" />
      <xs:attribute default="left" name="align" type="alignType"/>
      <xs:attribute default="" name="alt" type="xs:string" />
      <xs:attribute default="" name="width" type="xs:string" />
      <xs:attribute default="" name="height" type="xs:string" />
      <xs:attribute name="originalSrc" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="sourcecode">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute default="" name="pn" type="xs:string" />
      <xs:attribute default="" name="name" type="xs:string" />
      <xs:attribute default="" name="type" type="xs:string" />
      <xs:attribute name="src" type="xs:string" />
      <xs:attribute name="originalSrc" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="tableRowsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" ref="tr" />
    </xs:sequence>
    <xs:attribute ref="xml:lang" />
    <xs:attribute ref="xml:base" />
    <xs:attribute name="anchor" type="xs:ID" />

  </xs:complexType>

  <xs:element name="thead" type="tableRowsType"/>
  <xs:element name="tbody" type="tableRowsType"/>
  <xs:element name="tfoot" type="tableRowsType"/>

  <xs:element name="tr">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="td" />
        <xs:element ref="th" />
      </xs:choice>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
      <xs:attribute name="anchor" type="xs:ID" />
    </xs:complexType>
  </xs:element>

  <xs:element name="td" type="tableCellType"/>
  <xs:element name="th" type="tableCellType"/>

  <xs:element name="postamble">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xref" />
        <xs:element ref="eref" />
        <xs:element ref="iref" />
        <xs:element ref="cref" />
        <xs:element ref="spanx" />
      </xs:choice>
      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>


  <xs:element name="texttable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="preamble" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="ttcol" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="c" />
        <xs:element minOccurs="0" maxOccurs="1" ref="postamble" />
      </xs:sequence>
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute default="" name="title" type="xs:string" />
      <xs:attribute default="false" name="suppress-title" type="boolean"/>
      <xs:attribute default="center" name="align" type="alignType"/>
      <xs:attribute default="full" name="style">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="all" />
            <xs:enumeration value="none" />
            <xs:enumeration value="headers" />
            <xs:enumeration value="full" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="ttcol">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="width" type="xs:string" />
          <xs:attribute default="left" name="align">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="left" />
                <xs:enumeration value="center" />
                <xs:enumeration value="right" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="c">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xref" />
        <xs:element ref="eref" />
        <xs:element ref="iref" />
        <xs:element ref="cref" />
        <xs:element ref="spanx" />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="bcp14" type="xs:string"/>

  <xs:element name ="br"/>


  <xs:element name="back">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="displayreference" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="references" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="section" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="displayreference">
    <xs:complexType>
      <xs:attribute name="target" type="xs:ID" />
      <xs:attribute name="to" type="xs:string" />
    </xs:complexType>
  </xs:element>



  <xs:element name="references">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="name" />
        <xs:choice minOccurs="1" maxOccurs="unbounded" >
          <xs:element ref="reference" />
          <xs:element ref="referencegroup" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute default="References" name="title" type="xs:string" />
      <xs:attribute default="" name="pn" type="xs:string" />
      <xs:attribute name="anchor" type="xs:ID" />
    </xs:complexType>
  </xs:element>

  <xs:element name="reference">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="front" />
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element ref="annotation" />

          <xs:element ref="format" />
          <xs:element ref="refcontent" />
          <xs:element  ref="seriesInfo" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="target" type="xs:string" />
      <xs:attribute name="quoteTitle" type="boolean" />
    </xs:complexType>
  </xs:element>

  <xs:element name="referencegroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="reference" minOccurs="1" maxOccurs="unbounded"  />
      </xs:sequence>
      <xs:attribute name="anchor" type="xs:ID" />
    </xs:complexType>
  </xs:element>

  <xs:element name="seriesInfo">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="value" type="xs:string" use="required" />
      <xs:attribute name="asciiName" type="xs:string" />
      <xs:attribute name="asciiValue" type="xs:string" />
      <xs:attribute name="status" type="xs:string" />
      <xs:attribute default="IETF" name="stream" type="streamType"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="format">
    <xs:complexType>
      <xs:attribute name="target" type="xs:string" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="octets" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="annotation" type="textrun"/>

  <xs:element name="refcontent">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="bcp14" />
        <xs:element ref="em" />
        <xs:element ref="strong" />
        <xs:element ref="sub" />
        <xs:element ref="sup" />
        <xs:element ref="tt" />
      </xs:choice>

      <xs:attribute ref="xml:lang" />
      <xs:attribute ref="xml:base" />
    </xs:complexType>
  </xs:element>
</xs:schema>