Goedel.Document.RFC2629/rfc2629.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema xmlns="http://tempuri.org/rfc2629" elementFormDefault="qualified" targetNamespace="http://tempuri.org/rfc2629" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:element name="rfc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="front" />
        <xs:element ref="middle" />
        <xs:element minOccurs="0" maxOccurs="1" ref="back" />
      </xs:sequence>
      <xs:attribute name="number" type="xs:string" />
      <xs:attribute default="" name="obsoletes" type="xs:string" />
      <xs:attribute default="" name="updates" type="xs:string" />
      <xs:attribute name="category">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="std" />
            <xs:enumeration value="bcp" />
            <xs:enumeration value="info" />
            <xs:enumeration value="exp" />
            <xs:enumeration value="historic" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="seriesNo" type="xs:string" />
      <xs:attribute name="ipr">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="full2026" />
            <xs:enumeration value="noDerivativeWorks2026" />
            <xs:enumeration value="none" />
            <xs:enumeration value="full3667" />
            <xs:enumeration value="noModification3667" />
            <xs:enumeration value="noDerivatives3667" />
            <xs:enumeration value="full3978" />
            <xs:enumeration value="noModification3978" />
            <xs:enumeration value="noDerivatives3978" />
            <xs:enumeration value="trust200811" />
            <xs:enumeration value="noModificationTrust200811" />
            <xs:enumeration value="noDerivativesTrust200811" />
            <xs:enumeration value="trust200902" />
            <xs:enumeration value="noModificationTrust200902" />
            <xs:enumeration value="noDerivativesTrust200902" />
            <xs:enumeration value="pre5378Trust200902" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="iprExtract" type="xs:IDREF" />
      <xs:attribute default="IETF" name="submissionType">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="IETF" />
            <xs:enumeration value="independent" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="docName" type="xs:string" />
      <xs:attribute ref="xml:lang" />
    </xs:complexType>
  </xs:element>
  <xs:element name="front">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="author" />
        <xs:element ref="date" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="area" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="workgroup" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="keyword" />
        <xs:element minOccurs="0" maxOccurs="1" ref="abstract" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="abbrev" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="organization" />
        <xs:element minOccurs="0" maxOccurs="1" ref="address" />
      </xs:sequence>
      <xs:attribute name="initials" type="xs:string" />
      <xs:attribute name="surname" type="xs:string" />
      <xs:attribute name="fullname" type="xs:string" />
      <xs:attribute name="role">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="editor" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="organization">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="abbrev" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="postal" />
        <xs:element minOccurs="0" maxOccurs="1" ref="phone" />
        <xs:element minOccurs="0" maxOccurs="1" ref="facsimile" />
        <xs:element minOccurs="0" maxOccurs="1" ref="email" />
        <xs:element minOccurs="0" maxOccurs="1" ref="uri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="postal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="street" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="city" />
          <xs:element ref="region" />
          <xs:element ref="code" />
          <xs:element ref="country" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="street" type="xs:string" />
  <xs:element name="city" type="xs:string" />
  <xs:element name="region" type="xs:string" />
  <xs:element name="code" type="xs:string" />
  <xs:element name="country" type="xs:string" />
  <xs:element name="phone" type="xs:string" />
  <xs:element name="facsimile" type="xs:string" />
  <xs:element name="email" type="xs:string" />
  <xs:element name="uri" type="xs:string" />
  <xs:element name="date">
    <xs:complexType>
      <xs:attribute name="day" type="xs:string" />
      <xs:attribute name="month" type="xs:string" />
      <xs:attribute name="year" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="area" type="xs:string" />
  <xs:element name="workgroup" type="xs:string" />
  <xs:element name="keyword" type="xs:string" />
  <xs:element name="abstract">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="note">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="t" />
      </xs:sequence>
      <xs:attribute name="title" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="middle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="section" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="section">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="t" />
          <xs:element ref="figure" />
          <xs:element ref="texttable" />
          <xs:element ref="iref" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="section" />
      </xs:sequence>
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="title" type="xs:string" use="required" />
      <xs:attribute default="default" name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="include" />
            <xs:enumeration value="exclude" />
            <xs:enumeration value="default" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="t">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="list" />
        <xs:element ref="figure" />
        <xs:element ref="xref" />
        <xs:element ref="eref" />
        <xs:element ref="iref" />
        <xs:element ref="cref" />
        <xs:element ref="spanx" />
        <xs:element ref="vspace" />
      </xs:choice>
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="hangText" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="t" />
      </xs:sequence>
      <xs:attribute name="style" type="xs:string" />
      <xs:attribute name="hangIndent" type="xs:string" />
      <xs:attribute name="counter" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="xref">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="target" type="xs:IDREF" use="required" />
          <xs:attribute default="false" name="pageno">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="true" />
                <xs:enumeration value="false" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute default="default" name="format">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="counter" />
                <xs:enumeration value="title" />
                <xs:enumeration value="none" />
                <xs:enumeration value="default" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="eref">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="target" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="iref">
    <xs:complexType>
      <xs:attribute name="item" type="xs:string" use="required" />
      <xs:attribute default="" name="subitem" type="xs:string" />
      <xs:attribute default="false" name="primary">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="cref">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="anchor" type="xs:ID" />
          <xs:attribute name="source" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="spanx">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="xml:space" />
          <xs:attribute default="emph" name="style" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="vspace">
    <xs:complexType>
      <xs:attribute default="0" name="blankLines" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="figure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="iref" />
        <xs:element minOccurs="0" maxOccurs="1" ref="preamble" />
        <xs:element ref="artwork" />
        <xs:element minOccurs="0" maxOccurs="1" ref="postamble" />
      </xs:sequence>
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute default="" name="title" type="xs:string" />
      <xs:attribute default="false" name="suppress-title">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="src" type="xs:string" />
      <xs:attribute default="left" name="align">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="left" />
            <xs:enumeration value="center" />
            <xs:enumeration value="right" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="" name="alt" type="xs:string" />
      <xs:attribute default="" name="width" type="xs:string" />
      <xs:attribute default="" name="height" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="preamble">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xref" />
        <xs:element ref="eref" />
        <xs:element ref="iref" />
        <xs:element ref="cref" />
        <xs:element ref="spanx" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="artwork">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="xml:space" />
          <xs:attribute default="" name="name" type="xs:string" />
          <xs:attribute default="" name="type" type="xs:string" />
          <xs:attribute name="src" type="xs:string" />
          <xs:attribute default="left" name="align">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="left" />
                <xs:enumeration value="center" />
                <xs:enumeration value="right" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute default="" name="alt" type="xs:string" />
          <xs:attribute default="" name="width" type="xs:string" />
          <xs:attribute default="" name="height" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="postamble">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xref" />
        <xs:element ref="eref" />
        <xs:element ref="iref" />
        <xs:element ref="cref" />
        <xs:element ref="spanx" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="texttable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="preamble" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="ttcol" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="c" />
        <xs:element minOccurs="0" maxOccurs="1" ref="postamble" />
      </xs:sequence>
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute default="" name="title" type="xs:string" />
      <xs:attribute default="false" name="suppress-title">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="center" name="align">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="left" />
            <xs:enumeration value="center" />
            <xs:enumeration value="right" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="full" name="style">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="all" />
            <xs:enumeration value="none" />
            <xs:enumeration value="headers" />
            <xs:enumeration value="full" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ttcol">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="width" type="xs:string" />
          <xs:attribute default="left" name="align">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="left" />
                <xs:enumeration value="center" />
                <xs:enumeration value="right" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xref" />
        <xs:element ref="eref" />
        <xs:element ref="iref" />
        <xs:element ref="cref" />
        <xs:element ref="spanx" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="back">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="references" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="section" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="references">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="reference" />
      </xs:sequence>
      <xs:attribute default="References" name="title" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="reference">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="front" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="seriesInfo" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="format" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="annotation" />
      </xs:sequence>
      <xs:attribute name="anchor" type="xs:ID" />
      <xs:attribute name="target" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="seriesInfo">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="format">
    <xs:complexType>
      <xs:attribute name="target" type="xs:string" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="octets" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="annotation">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xref" />
        <xs:element ref="eref" />
        <xs:element ref="iref" />
        <xs:element ref="cref" />
        <xs:element ref="spanx" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>